on:
  push:
    branches:
      - main
    paths:
      - 'team_ratings.csv'

jobs:
  run-simulation:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.x.x

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          packages: |
            nflverse/nflseedR
            nflverse/nflreadR
            dplyr
            jsonlite
            knitr

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run sim script
        run: |
          SEASON="2025"
          SIMS="100000"
          CHUNKS="100"
          RATINGS_FILE="team_ratings.csv"

          Rscript -e 'source("run-sim-script.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"

          git add output.json
          git commit -m 'Updated simulation output.' || echo "No changes to commit"
          git push origin HEAD || echo "No changes to commit"