on:
  push:
    branches: 
      - main
    paths: 
      - 'team_ratings.csv'

jobs:
  import-data:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2
          with:
            r-version: 4.5.1

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            nflseedR
            nflreadR
            dplyr
            jsonlite
            knitr

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run sim script
        run: |
          SEASON="2025"
          SIMS="1000"
          CHUNKS="10"
          RATINGS_FILE="teams_rating.csv"
          
          Rscript -e 'source("run-sim-script.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          
          git add output.json
          git commit -m 'Updated simulation output.' || echo "No changes to commit"
          git push origin || echo "No changes to commit"